<div *ngIf="(blog$ | async) as blog">
    <div class="post_banner">
        <div class="post_title">
            <h1>{{blog.title}}</h1>
        </div>
        <img class="img_banner" src="{{blog.imageUrl}}" alt="">
        <div class="sub_title">
            <h5>{{blog.subTitle}}</h5>
        </div>
    </div>
    <div class="post_container">
        {{blog.description}}
    </div>
</div>
