.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
img {
  cursor: pointer;
}
.cursor_pointer {
  cursor: pointer;
}
.btn_option {
  position: absolute;
  right: 0px;
}
