<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="cursor_pointer" (click)="gotoDetail(blogInfor.id)">{{blogInfor.title}}</mat-card-title>
        <mat-card-subtitle>{{blogInfor.subTitle}}</mat-card-subtitle>
        <button class="btn_option" mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="openEditDialog()" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-header>
    <img (click)="getNameBlogById(blogInfor.id)" mat-card-image src="{{blogInfor.imageUrl}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{blogInfor.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>