<div class="child_component">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Title:</mat-label>
            <input matInput [(ngModel)]="title" placeholder="Title">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="changePageTitle()">Change parent title</button>
</div>