.section_container {
  margin-top: 20px;
  .code {
    padding: 10px 20px;
  }
}
.example-form {
  margin: 10px 20px;
  padding: 20px 20px;
  min-width: 200px;
  min-height: 100px;
  border: 1px solid gray;
  border-radius: 5px;
}
.example-full-width {
  margin: 20px;
}
.txt_input {
  font-size: 20px;
  font-weight: 500;
}
.txt_form {
  margin-bottom: 20px;
  text-align: center;
}
.color_white {
  color: white;
}
input:disabled {
  cursor: not-allowed;
}
button:disabled {
  cursor: not-allowed;
}
.parent {
  background: moccasin;
}
.parent_component {
  width: 40%;
  margin: 20px;
  background-color: #e5ffcc;
  padding: 20px;
}

.child_component {
  width: 40%;
  margin: 20px;
  background-color: #fff6a4;
  padding: 20px;
}
