<!-- Highlight Card -->
<div class="content">
    <app-highlight-card [title]="title"></app-highlight-card>
    <h2>Data Binding</h2>
</div>

<!-- interpolation start -->
<section class="section_container interpolation">
    <h2>1. Interpolation</h2>
    <div class="code">
        <p><b>{{title}}</b></p>
        <p>The sum of 1 + 1 is {{1 + 1}}.</p>
        <p>The sum of 1 + 1 is not {{1 + 1 + sum(2,1)}}.</p>
        <p>You can't use JavaScript expressions that have or promote side effects,
            including:</p>
        <ul>
            <li>Assignments (<code>=</code>, <code>+=</code>, <code>-=</code>, <code>...</code>)</li>
            <li>Operators such as <code>new</code>, <code>typeof</code>, <code>instanceof</code>, etc.</li>
            <li>Chaining expressions with <code>;</code> or <code>,</code></li>
            <li>The increment and decrement operators <code>++</code> and <code>--</code></li>
            <li>Some of the ES2015+ operators</li>
        </ul>
    </div>
</section>
<!-- interpolation end -->

<!-- Data binding start -->
<section class="section_container binding_type_targets">
    <h2>2. Binding types and targets</h2>
    <div class="code">
        <img src="assets/images/binding.png" alt="">
    </div>
    <div class="example-form">
        <div [class.color_white]="isChangeColor" class="txt_form">
            <span [ngStyle]="currentStyles" class="txt_input">{{inputField}}</span>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Input Some Thing</mat-label>
            <input matInput [(ngModel)]="inputField" placeholder="red">
        </mat-form-field>
        <!-- tow way binding -->
        <mat-form-field class="example-full-width">
            <mat-label>Input color</mat-label>
            <input matInput [attr.disabled]="isDisabledBtn ? '' : null" [(ngModel)]="inputColor" placeholder="red">
        </mat-form-field>
        <!-- clear tow way binding -->
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Input color</mat-label>
            <input matInput (ngModelChange)="changeTextColor($event)" [ngModel]="inputColor" placeholder="red" >
          </mat-form-field> -->
        <div style="margin-left: 20px;">

            <button [attr.disabled]="isDisabledBtn ? '' : null" mat-raised-button (click)="changeColor()"
                color="primary">Change
                color</button>
            <button mat-raised-button style="margin: 0px 0px 0px 20px;" (click)="disabledBtnChange()"
                color="warn">Disabled
                Change Color</button>
        </div>
    </div>
</section>
<!-- Data binding end -->

<!-- Directive and Pipe Start -->
<section class="section_container">
    <h2>3. Directives and Pipe</h2>
    <h3>3.1 Directives</h3>
    <div class="code">
        <div style="padding: 0px 10px;">
            <h4>Directive Structures</h4>
            <img src="assets/images/directive1.png" alt="">
            <img src="assets/images/directive2.png" alt="">
            <img src="assets/images/directive3.png" alt="">
        </div>
        <div style="padding: 20px 0px;">
            <h4>Directive Attribute</h4>
            <h1 appHighlight>Highlight Me!</h1>
            <img src="assets/images/directive4.png" alt="">
        </div>
    </div>
    <h3>3.2 Pipe</h3>
    <div class="code">
        <p>Super power boost: {{2 | exponentialStrength: 10}}</p>
        <img src="assets/images/pipe.png" alt="">
    </div>
</section>
<!-- Directive and Pipe End -->

<!-- lifecyle hook start -->
<section class="section_container">
    <h2>4. Lifecycle Hook</h2>
    <!-- overview start-->
    <div class="code">
        <div class="parent" style="padding: 20px 20px;">
            <button style="margin-right: 20px;" mat-raised-button (click)="toggleChild()">
                {{hasChild ? 'Destroy' : 'Create'}} PeekABooComponent
            </button>
            <button mat-raised-button color="primary" (click)="updateHero()" [hidden]="!hasChild">Update Hero</button>

            <app-lifecycle-hook *ngIf="hasChild" [name]="heroName">
            </app-lifecycle-hook>

            <h4>-- Lifecycle Hook Log --</h4>
            <div *ngFor="let msg of hookLog">{{msg}}</div>
        </div>
    </div>
    <!-- overview end -->

    <div class="code">
        <div class="parent" style="padding: 20px 20px;">
            <h4>OnChange</h4>
            <table>
                <tr>
                    <td>Power: </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Power:</mat-label>
                            <input matInput [(ngModel)]="power" placeholder="Power">
                        </mat-form-field>
                </tr>
                <tr>
                    <td>Blog.Title: </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Blog Title:</mat-label>
                            <input matInput [(ngModel)]="blog.title" placeholder="Blog Title">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <p><button mat-raised-button color="primary" (click)="reset()">Reset Log</button></p>

            <app-hook-onchange [blog]="blog" [power]="power"></app-hook-onchange>
        </div>
    </div>

</section>
<!-- lifecycle hook end -->

<!-- Component interaction start-->
<section class="section_container">
    <h2>5. Component Interaction</h2>
    <div class="code" style="background-color: rgb(138, 185, 255); display: flex;">
        <div class="parent_component">
            <h3>Parent Component</h3>
            <app-parent></app-parent>
        </div>
        <div class="child_component">
            <h3>Shared data throw service</h3>
            <app-interaction></app-interaction>
        </div>
    </div>
</section>
<!-- Component interaction end -->