<button (click)="openAddDialog()" mat-button>
    <mat-icon>add</mat-icon>
    <span>Add</span>
</button>
<div class="row">
    <div *ngFor="let blog of blogList" class="col-4">
        <app-blog-card [blogInfor]="blog" (getNameById)="getNameById($event)"></app-blog-card>
    </div>
</div>
