<mat-toolbar color="primary">
    <span class="fill-remaining-space">My Reactive Form with Material</span>
</mat-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate >
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

        <mat-form-field class="form-element">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="!name.valid && name.touched">
                {{ getErrorName() }}
            </mat-error>
        </mat-form-field> 

        <mat-form-field class="form-element">
            <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="5" formControlName="description"></textarea>
            <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                Required field, must be between 5 and 10 characters.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="subTitle" formControlName="subTitle">
            <mat-error *ngIf="!formGroup.controls['subTitle'].valid && formGroup.controls['subTitle'].touched">
                subTitle is Required
            </mat-error>
        </mat-form-field>

        <div formArrayName="more" >
            <div (click)="addMore()" class="btn">Add Field</div>
            <div *ngFor="let m of more.controls; let i=index">
                <!-- The repeated alias template -->
                <mat-form-field class="form-element">
                    <input matInput placeholder="Addition Field" [formControlName]="i">
                </mat-form-field>
            </div>
        </div>
        
        {{ formGroup.value | json }}

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
                Form</button>
        </div>

    </form>
</div>

<ng-template #forminfo>
    <div class="container">
        {{ post | json }}
    </div>
</ng-template>