<h3>{{title}}</h3>
<mat-form-field class="example-full-width">
    <mat-label>Parent Title:</mat-label>
    <input matInput [(ngModel)]="title" placeholder="Parent Title">
</mat-form-field>
<app-child [titleParent]="title" (changeTitle)="changeTitle($event)"></app-child>
