<div class="child_component">
    <h3>Child Component</h3>
    <p>I am child of {{titleParent}}</p>
    <mat-form-field class="example-full-width">
        <mat-label>Title:</mat-label>
        <input matInput [(ngModel)]="titleChild" placeholder="Title">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="changeParentTitle()">Change parent title</button>
</div>
